<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue版Client驗證</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
        <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-KGS4MMJ');</script>
    <!-- End Google Tag Manager -->
</head>
<body>
    <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KGS4MMJ"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <div id="app" class="container">
        <div class="row p-5">
            <div class="col-12 col-md-6 mb-3">
                <label for="">Account</label>
                <input v-model="signup.account" type="text" class="form-control" :class="{ 'is-invalid' : signupCheck.accountError}">
                <div class="text-danger small mt-1">
                    {{ signupCheck.accountErrorMsg }}
                </div>
            </div>
            <div class="col-12 col-md-6 mb-3">
                <label for="">Password</label>
                <input v-model="signup.password" type="text" class="form-control" :class="{ 'is-invalid' : signupCheck.passwordError}">
                <div class="text-danger small mt-1">
                    {{ signupCheck.passwordErrorMsg}}
                </div>
            </div>
            <div class="col-12 col-md-6 mb-3">
                <label for="">CheckPassword</label>
                <input v-model="signup.checkPassword" type="text" class="form-control" :class="{ 'is-invalid': signupCheck.checkPasswordError}">
                <div class="text-danger small mt-1">
                    {{ signupCheck.checkPasswordErrorMsg}}
                </div>
            </div>
        </div>
        <div class="row px-5">
            <button class="btn btn-primary" v-bind:disabled="addVerify">送出</button>
        </div>
    </div>



    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
    <!-- Vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.7/dist/vue.js"></script>
    <script>
        var app = new Vue({
            el:'#app',
            data:{
                //表單註冊資料
                signup:{
                    account:'',
                    password:'',
                    checkPassword:''
                },
                //表單驗證
                signupCheck:{
                    accountError:false,
                    accountErrorMsg:'',
                    passwordError:false,
                    passwordErrorMsg:'',
                    checkPasswordError:false,
                    checkPasswordErrorMsg:''
                },
                //送出按鈕驗證
                addVerify:true
            },
            watch:{
                'signup.account':{
                    immediate:true,
                    handler:function(){
                        // this.signupCheck.accountError=false
                        // this.signupCheck.accountErrorMsg=''
                        if(this.signup.account==""){
                            this.signupCheck.accountError=true,
                            this.signupCheck.accountErrorMsg="帳號不得為空值"
                        }
                        else if(this.signup.account.length<8){
                            this.signupCheck.accountError=true,
                            this.signupCheck.accountErrorMsg="帳號不得小於8碼"
                        }
                        else{
                            this.signupCheck.accountError=false,
                            this.signupCheck.accountErrorMsg=''
                        }
                        this.checkAddVerify()
                    }
                },
                'signup.password':{
                    immediate:true,
                    handler:function(){
                        this.signupCheck.checkPasswordError = false
                        this.signupCheck.checkPasswordErrorMsg = ''
                        let passwordRegex = /^[0-9]*$/
                        if(!passwordRegex.test(this.signup.password)){
                            this.signupCheck.passwordError=true
                            this.signupCheck.passwordErrorMsg="密碼必須為數字"
                        }
                        else if(this.signup.password.length<8){
                            this.signupCheck.passwordError=true,
                            this.signupCheck.passwordErrorMsg="密碼不得小於8碼"
                        }
                        else{
                            this.signupCheck.passwordError=false,
                            this.signupCheck.passwordErrorMsg=''
                        }
                        this.checkAddVerify()

                    }
                },
                'signup.checkPassword':{
                    immediate:false,
                    handler:function(){
                        if(this.signup.checkPassword !== this.signup.password){
                            this.signupCheck.checkPasswordError = true
                            this.signupCheck.checkPasswordErrorMsg='密碼與第一次輸入不符合'
                        }
                        else{
                            this.signupCheck.checkPasswordError = false
                            this.signupCheck.checkPasswordErrorMsg = ''
                        }
                        this.checkAddVerify()
                    }
                }
            },
            methods:{
                checkAddVerify(){
                    for(let prop in this.signupCheck){
                        if(this.signupCheck[prop] == true){
                            this.addVerify = true
                            return
                        }
                        this.addVerify = false
                    }
                }
            }
        })
    </script>
</body>
</html>